* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__inside {
  max-width: 940px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.nav {
  height: 0;
}

.nav__menu {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.nav__company {
  margin-top: 34px;
  position: absolute;
  left: 10px;
  width: 100px;
}

.nav__company a {
  text-decoration: none;
  color: gold;
  font-size: 30px;
  font-family: "Great Vibes", cursive, sans-serif;
}

.nav__menu-hamburger {
  display: none;
}

.nav__menu-hamburger-ul {
  display: none;
  position: absolute;
  left: -220%;
  top: -10px;
  border: 1px solid white;
  list-style-type: none;
  color: white;
  font-size: 30px;
  background: gold;
  line-height: 40px;
  padding: 20px;
  z-index: 0;
}

.nav__menu-hamburger-a {
  text-decoration: none;
  color: white;
}

.nav__menu-ul {
  margin-top: 47px;
}

.nav__menu-li {
  display: inline-block;
  list-style-type: none;
  width: 105px;
  text-align: right;
}

.nav__menu-a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.header {
  height: 700px;
  background-image: url("/images/header.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__shadow {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 700px;
  background-color: black;
  opacity: 0.4;
}

.header__title {
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  color: white;
}

.header__title h1 {
  margin-top: 250px;
  font-size: 39px;
  font-family: "Aref Ruqaa", sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.header__title h2 {
  margin-top: 30px;
  font-size: 74px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.header__title a {
  margin-top: 40px;
  color: white;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  width: 240px;
  padding: 20px 40px;
  background: gold;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 900;
}

.services {
  margin-top: 110px;
}

.services__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 165px;
  padding: 0 20px;
  text-align: center;
}

.services__title h1 {
  font-size: 39px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}

.services__title p {
  margin-top: 10px;
  font-size: 16px;
  font-family: "Aref Ruqaa", sans-serif;
  color: #777777;
}

.services__offer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.services__circle-one,
.services__circle-two,
.services__circle-three {
  position: absolute;
  left: 40%;
  top: -100px;
}

.services__icon-one,
.services__icon-two,
.services__icon-three {
  position: absolute;
  top: -83px;
}

.services__icon-one {
  left: 142px;
}

.services__icon-two {
  left: 142px;
}

.services__icon-three {
  left: 148px;
}

.services__ecommerce,
.services__responsive,
.services__security {
  position: relative;
  width: 350px;
  margin-bottom: 120px;
}

.services__ecommerce h2,
.services__responsive h2,
.services__security h2 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

.services__ecommerce p,
.services__responsive p,
.services__security p {
  font-size: 14;
  font-family: 'Aref Ruqaa', sans-serif;
  text-align: center;
  line-height: 20px;
  color: #777777;
}

.portfolio {
  background: #f7f7f7;
}

.portfolio__title h1 {
  padding-top: 105px;
  color: black;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.portfolio__title p {
  color: #777777;
  font-size: 16px;
  font-family: 'Aref Ruqaa', sans-serif;
  text-align: center;
  padding-bottom: 80px;
}

.portfolio__grid-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (290px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 290px);
  grid-gap: 45px 35px;
  -ms-flex-pack: center;
      justify-content: center;
}

.portfolio_img-one-one,
.portfolio_img-one-two,
.portfolio_img-one-three,
.portfolio_img-two-one,
.portfolio_img-two-two,
.portfolio_img-two-three {
  background: white;
  width: 290px;
  height: 400px;
}

.portfolio_img-one-one h1,
.portfolio_img-one-two h1,
.portfolio_img-one-three h1,
.portfolio_img-two-one h1,
.portfolio_img-two-two h1,
.portfolio_img-two-three h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.portfolio_img-one-one p,
.portfolio_img-one-two p,
.portfolio_img-one-three p,
.portfolio_img-two-one p,
.portfolio_img-two-two p,
.portfolio_img-two-three p {
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #777777;
}

@media (max-width: 992px) {
  .nav__menu {
    position: absolute;
    left: 10%;
  }
  .nav__menu-ul {
    display: none;
  }
  .nav__menu-hamburger {
    display: inline;
    position: absolute;
    z-index: 5;
    left: 80%;
    top: 30px;
  }
  .nav__menu-hamburger:hover > .nav__menu-hamburger-ul {
    display: block;
  }
  .header__title h1 {
    margin-top: 205px;
    font-size: 29px;
  }
  .header__title h2 {
    font-size: 54px;
  }
  .services__offer {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .services__icon-one {
    left: 158px;
  }
  .services__icon-two {
    left: 158px;
  }
  .services__icon-three {
    left: 162px;
  }
}
/*# sourceMappingURL=style.css.map */