//var
$font-color-nav-menu-a: white;
$font-size-nav-menu-a: 14px;
$font-family-nav-menu-a: 'Montserrat',
sans-serif;
$font-color-nav__company-a:gold;
$font-size-nav__company-a:30px;
$font-family-nav__company-a:'Great Vibes',
cursive,
sans-serif;
$font-color-header-title: white;
$font-size-header-title-h1: 39px;
$font-family-header-title-h1: 'Aref Ruqaa',
sans-serif;
$font-size-header-title-h2: 74px;
$font-family-header-title-h2: 'Montserrat',
sans-serif;
$font-size-header-title-a: 18px;
$font-family-header-title-a: 'Montserrat',
sans-serif;
$font-size-services-title-h1: 39px;
$font-family-services-title-h1: 'Montserrat',
sans-serif;
$font-size-services-p: 16px;
$font-family-services-p: 'Aref Ruqaa',
sans-serif;

//global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__inside {
  max-width: 940px;
  margin: 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

body {
  //empty
}

//nav
.nav {
  height: 0;
}

.nav__menu {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.nav__company {
  margin-top: 34px;
  position: absolute;
  left: 10px;
  width: 100px;

  h1 {
    //empty
  }

  a {
    text-decoration: none;
    color: $font-color-nav__company-a;
    font-size: $font-size-nav__company-a;
    font-family: $font-family-nav__company-a;
  }
}

.nav__menu-hamburger {
  display: none;
}

.nav__menu-hamburger-ul {
  display: none;
  position: absolute;
  left: -220%;
  top: -10px;
  border: 1px solid white;
  list-style-type: none;
  color: white;
  font-size: 30px;
  background: gold;
  line-height: 40px;
  padding: 20px;
  z-index: 0;
}

.nav__menu-hamburger-a {
  text-decoration: none;
  color: white;
}

.nav__menu-ul {
  margin-top: 47px;
}

.nav__menu-li {
  display: inline-block;
  list-style-type: none;
  width: 105px;
  text-align: right;
}

.nav__menu-a {
  text-decoration: none;
  color: $font-color-nav-menu-a;
  font-size: $font-size-nav-menu-a;
  font-family: $font-family-nav-menu-a;
  text-transform: uppercase;
}

//header
.header {
  height: 700px;
  background-image: url("/images/header.png");
  background-repeat: no-repeat;
  background-position: center;
}

.header__shadow {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 700px;
  background-color: black;
  opacity: 0.4;
}

.header__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-color-header-title;

  h1 {
    margin-top: 250px;
    font-size: $font-size-header-title-h1;
    font-family: $font-family-header-title-h1;
    text-transform: capitalize;
    text-align: center;
  }

  h2 {
    margin-top: 30px;
    font-size: $font-size-header-title-h2;
    font-family: $font-family-header-title-h2;
    text-transform: uppercase;
    text-align: center;
  }

  a {
    margin-top: 40px;
    color: $font-color-header-title;
    font-size: $font-size-header-title-a;
    font-family: $font-family-header-title-a;
    text-align: center;
    text-decoration: none;
    width: 240px;
    padding: 20px 40px;
    background: gold;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 900;
  }
}

//services
.services {
  margin-top: 110px;
}

.services__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 165px;
  padding: 0 20px;
  text-align: center;

  h1 {
    font-size: $font-size-services-title-h1;
    font-family: $font-family-services-title-h1;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
  }

  p {
    margin-top: 10px;
    font-size: $font-size-services-p;
    font-family: $font-family-services-p;
    color: rgb(119, 119, 119);
  }
}

.services__offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services__circle-one,
.services__circle-two,
.services__circle-three {
  position: absolute;
  left: 40%;
  top: -100px;
}

.services__icon-one,
.services__icon-two,
.services__icon-three {
  position: absolute;
  top: -83px;
}

.services__icon-one {
  left: 142px;
}

.services__icon-two {
  left: 142px;
}

.services__icon-three {
  left: 148px;
}

.services__ecommerce,
.services__responsive,
.services__security {
  position: relative;
  width: 350px;
  margin-bottom: 120px;

  h2 {
    font-size: 18px;
    font-family: 'Montserrat',
      sans-serif;
    text-align: center;
    margin-bottom: 10px;
    color: black;
  }

  p {
    font-size: 14;
    font-family: 'Aref Ruqaa',
      sans-serif;
    text-align: center;
    line-height: 20px;
    color: rgb(119, 119, 119);
  }
}

//portfolio
.portfolio {
  background: rgb(247, 247, 247);
  padding-bottom: 100px;
}

.portfolio__title {
  h1 {
    padding-top: 105px;
    color: black;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    color: rgb(119, 119, 119);
    font-size: 16px;
    font-family: 'Aref Ruqaa', sans-serif;
    text-align: center;
    padding-bottom: 80px;
  }
}

.portfolio__img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  grid-gap: 45px 35px;
  justify-content: center;
}

.portfolio_img-box {
  background: white;
  width: 290px;
  height: 400px;

  img,
  p,
  h1 {
    transition: all 0.6s;
  }

  h1 {
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat',
      sans-serif;
    color: black;
  }

  p {
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat',
      sans-serif;
    color: rgb(119, 119, 119);
  }

  a {
    text-decoration: none;
  }

  a img:hover {
    transform: scale(1.1, 1.1);
  }

  a p:hover {
    transform: scale(1.1, 1.1);
  }

  a h1:hover {
    transform: scale(1.1, 1.1);
  }
}

//footer
.footer {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  a img {
    padding: 0 5px;
    transition: all 0.6s;
  }

  a img:hover {
    transform: scale(1.2, 1.2);
  }
}

footer h1 {
  color: rgb(119, 119, 119);
  position: absolute;
  // left: 20%;
  // top: 10px;
  font-size: 14px;
  font-family: 'Montserrat',
    sans-serif;
  ;
}

//media 992
@media (max-width: 992px) {
  .nav__menu {
    position: absolute;
    left: 10%;
  }

  .nav__menu-ul {
    display: none;
  }

  .nav__menu-hamburger {
    display: inline;
    position: absolute;
    z-index: 5;
    left: 80%;
    top: 30px;
  }

  .nav__menu-hamburger:hover>.nav__menu-hamburger-ul {
    display: block;
  }

  .header__title {

    h1 {
      margin-top: 205px;
      font-size: $font-size-header-title-h1 - 10px;
    }

    h2 {
      font-size: $font-size-header-title-h2 - 20px;
    }
  }

  .services__offer {
    flex-direction: column;
    align-items: center;
  }

  .services__icon-one {
    left: 158px;
  }

  .services__icon-two {
    left: 158px;
  }

  .services__icon-three {
    left: 162px;
  }

  footer h1 {
    position: static;
    text-align: center;
    padding-top: 50px;
    // left: 33%;
    // top: -30px;
    // transform: translate(30%, 0);
  }
}